body {
    padding-top: 5rem;
}

.btnCenter {
    display: inline-block;
}

.centerFold {
    padding: 3rem 1.5rem;
    text-align: center;
}

.dark {
    color: #000000;
}

body.night {
    background-color: #272727;
    color: #ffffff;
}